@media (max-width: 480px){
    .container{
        width: auto;
        max-width: 100%;
    }
    .wrapper header .container{
        padding: 20px;
    }
  
    .wrapper .new .new__bg{
        text-align: center;
        padding: 20px;
        padding-bottom: 440px;
        background-size: contain;
        background-position: bottom;
    }
   
    .wrapper .new .container p{
        font-size: 20px;
        line-height: 45px
    }

    .what{
        display: none;
    }
    .what_mobile{
        display: block;
        text-align: center;
    } 
    .wrapper .what_mobile .container .what__card{
        margin: 10px auto;
        width: 80%;
        
        
    }
    .wrapper .what_mobile .container .what__card a .card_img{
        margin: 0;
        margin-bottom: 25px;
    }
    .wrapper .what_mobile .container .what__card .more img{
        width: auto;
        display: inline;
    }
    .what__left .owl-carousel .owl-nav .owl-next,
    .what__left .owl-carousel .owl-nav .owl-prev
    {
        width: 100px;
        height: 100px;
        background-color: royalblue;
        border-radius: 50%;
        font-size: 50px;
    }

    .wrapper .our{
        padding: 15px;
    }
   .wrapper .our .our__fineshed{
        display: block;
    }
    .wrapper .our .smart__home{
        padding: 0;
        padding-bottom: 326px;
        text-align: center;
    }
    .our_left_right{
        flex-direction: column;
    }
    .our_left{
        margin-bottom: 25px;
    }
    .our_right{
        margin-bottom: 25px;
    }
    
    .wrapper .our__beloved .container{
        padding: 25px;
        padding-top: 100px;
        text-align: center;
    }
     .wrapper .our__beloved .our__fineshed{
        flex-direction: column;
    }
    .wrapper .our__beloved .our__fineshed h1{
        padding: 0;
    }
    .wrapper .our__beloved .logo_client table a{
        padding: 0;
    }
    .wrapper .our__beloved .intersted{
        margin: 0;
        padding: 0;
    }
    .intersted__top{
        flex-direction: column;
    }
    .wrapper .our__beloved .intersted .intersted__top .intersted__top__left{
        margin-bottom: 25px;
    }

    .wrapper .our__beloved .footer{
        margin: 0;
        padding: 0;
        text-align: center;
        padding-top: 25px;
    }

    .wrapper .our__beloved .footer .footer_one{
        margin: 0;
        width: 100%;
        text-align: center;
    }
     .lorem,
    .wrapper .our__beloved .footer .footer_one .logo{
        justify-content: center
    }
    .footer__lorem__mobile{
        display: block;
    }
    .footer__lorem{
        display: none;
    }
    .intersted{
        paddimg-bottom: 50px;
    }
}


